--- --- .background {
  position: relative;
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.25;
  z-index: -1;
}

// /* 非主页（分栏目页面）使用半透明背景 */
// header:not([data-big]) .background:before {
//   background-color: rgba(0, 0, 0, 0.8);
//   opacity: 1;
// }